{%extends 'app/base.html' %}
{%block content%}
				<div id="headerwrap">
					<div class="container">
						<div class="row centered">
							<div class="col-lg-12">
								<div class="col-lg-4"></div>
								<div class="col-lg-4">
									<h1>Welcome!</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row centered">
						<div class="col-lg-12">
							<h2>The Purpose</h2>
							<p>The purpose of this site is to provide students of our group with lots of useful information like:our meetings,consultations,lecture files,presentations and so on...The team of our developers tried to made the interface of the website both user-friendly and useful ath the same time.You're welcome!  </p>
							<h2>Students Table</h2>
						</div>
					</div>
				</div>
			</body>
			<div class="container">
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							{%if permtoken%}
							<th>Phone Number</th>
							{%endif%}
						</tr>
					</thead>
					<tbody>
						{%for person in people %}
						<tr>
							<td>{{person.id}}</td>
							<td>{{person.name}}</td>
							{%if permtoken%}
							<td>{{person.number}}</td>
							{%endif%}
						</tr>
						{%endfor%}
						</tr>
					</tbody>
				</table>
			</div>
{%endblock%}


