{%extends 'app/base.html'%}
{% block content %}
			<div class="container">
				<div class="row">
					<h1>Lectures</h1>
					<p>Here you can find useful information on the following subjects:</p>
					<div class="panel-group" id="collapse-group">
						<div class="panel">
							<div class="panel-heading"><a data-toggle="collapse" data-parent="#collapse-group" href="#el1">List of files</a></div>
							<div class="collapse" id="el1">
								<div class="panel-body">
									<table class="table">
										<thead>
											<tr>
												<th>Subject</th>
												<th>File</th>
												<th>Description</th>
											</tr>
										</thead>
										<tbody>
											{%for lecture in lectures %}
											<tr>
												<td><span>{{lecture.subject}}</span></td>
												{%for f in files%}
													{%if f.hash == lecture.hash %}
														<td><a href={{f.file_source}}>{{f.file_name}}</a></td>
													{%endif%}
												{%endfor%}
												<td><span>{{lecture.description}}</span></td>
											</tr>
											{%endfor%}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					{%if permtoken%}
					<form class="form-horizontal" role="form" name="newLection" method="POST" action="/postNewLection/" enctype="multipart/form-data">
						{%csrf_token%}
						<div class="form-group">
							<label class="control-label col-md-2" for="subject">Subject's Title:</label>
							<div class="col-md-3"><input class="form-control" type="subject" name="subject" placeholder="Enter the title"/></div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="subject">File description:</label>
							<div class="col-md-3"><input class="form-control" type="description" name="description" placeholder="Enter a description"/></div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="file">Attach file:</label>
							<div class="col-md-3"><input type="file" name="lecture"/></div>
							</div>
						<button class="btn btn-success" type="submit">Add information</button>
					</form>
					{%endif%}
				</div>
			</div>
{%endblock%}


