{%extends 'app/base.html'%}
{%block content%}
		<article>
			<header>
				<div class="container">
					<h1>Information about meetings</h1>
					{%if meeting%}
					<article>
						{%for m in meeting%}
						<header>
							<h2>Meeting at {{m.place}}, at {{m.date}}</h2>
						</header>
						<p>{{m.description}}</p>
						{%endfor%}
						<p>На встречу идут:</p>
						<div class="panel-group" id="collapse-group">
							<div class="panel">
								<div class="panel-heading"><a data-toggle="collapse" data-parent="#collapse-group" href="#el1">List of people</a></div>
								<div class="collapse" id="el1">
									<div class="panel-body">
										<table class="table">
											<thead>
												<tr>
													<th>Name</th>
													<th>Number</th>
													<th>Coming</th>
												</tr>
											</thead>
											<tbody>
												{%for p in people %}
													{%if p.isComing%}
													<tr>
														<td>{{p.name}}</td>
														<td>{{p.number}}</td>
														<td>Yes</td>
													</tr>
													{%endif%}
												{%endfor%}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						{%endif%}
						{%if not meeting%}
							<div>No meetings for now</div>
						{%endif%}
					</article>
				</div>
			</header>
		</article>
{%endblock%}


